@media (min-width: 1300px) {
    .container {
        max-width: 1240px !important;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1340px !important;
    }
}
@media (min-width: 1500px) {
    .container {
        max-width: 1440px !important;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1540px !important;
    }
}
@media (min-width: 1700px) {
    .container {
        max-width: 1640px !important;
    }
}