{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {% render_block "css" %}

        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/modern-business.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/cropme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <script src="{% static 'js/cropme.js' %}"></script>
        <script src="{% static 'js/add.js' %}"></script>
        <script src="{% static 'js/csvprocess.js' %}"></script>
        <script src="{% static 'js/photo.js' %}"></script>
    </head>
    <body>
        {% cms_toolbar %}
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a onclick="Homepage()" class="navbar-brand"><img  src="{% static 'image/log.png' %}" style="width:270px;height:65px;"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% show_menu 0 100 100 100 %}
                    </ul>
                </div>
                <div class="navbar-collapse" style="margin-left: 250px;">
                    <div class="search-container">                
                            <input type="text" placeholder="Find Tours" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>               
                        </div>
                        <div style="margin-left: 15px; border-left: solid #757575;">&nbsp&nbspVenues</div>
                        <div style="margin-left: 15px;">Tour Types</div>
                        <div style="margin-left: 15px; border-left: solid #757575;">&nbsp&nbspLocations</div>
                        <div style="margin-left: 15px;" id="userinfo">
                        </div>
                </div>
            </div>
        </nav>
        <div class="container" style="min-height: 100vh !important;">
            {% for message in messages %}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    {{ message }}

                </div>
            {% endfor %}
            {% block content %}{% endblock content %}
        </div>
        <!-- Footer -->
        <footer class="py-5 bg-dark" style="padding:1.5rem 0 !important">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; New Day Culture 2020</p>
            </div>        
        </footer>
        {% render_block "js" %}
    </body>
</html>
